<h1>Create Recipe</h1>

<form action='/recipes' method='POST'>

<p><label for="name">Recipe Name: </label>
<input type='text' name='name'></p>

<p><label for="ingredients">Recipe Ingredients: </label>
<input type='text' name='ingredients'></p>

<p><label for="cook_time">Recipe Cook-time: </label>
<input type='text' name='cook_time'></p>

<input type='submit'>

</form>